body {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
    background-color: #2a2c36;
    color: #d9dada;
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
}

.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: #2a2c36;
    background-color: #5ac1d4;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #5ac1d4;
}

.navmenu-default .navmenu-nav.dropdown-menu,
.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: #2a2c36;
}

.navmenu-default .navmenu-nav li a:hover,
a:active {
    color: white;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

footer {
    margin-top: 50px;
}