body {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
    background-color: #2a2c36;
    color: #d9dada;
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
}

.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: #2a2c36;
    background-color: #5ac1d4;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #5ac1d4;
}

.navmenu-default .navmenu-nav.dropdown-menu,
.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: #2a2c36;
}

.navmenu-default .navmenu-nav li a:hover,
a:active {
    color: white;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

footer {
    margin-top: 50px;
}

////////////////////

        .card {
            margin: 0 auto;
        }

        .card .carousel-item {
            height: 200px;
        }

        .card .carousel-caption {
            padding: 0;
            right: 0;
            left: 0;
            color: #3d3d3d;
        }

        .card .carousel-caption h3 {
            color: #3d3d3d;
        }

        .card .carousel-caption p {
            line-height: 30px;
        }

        .card .carousel-caption .col-sm-3 {
            display: flex;
            align-items: center;
        }

        .card .carousel-caption .col-sm-9 {
            text-align: left;
        }

        .navi a {
            text-decoration: none;
        }

        a>.ico {
            background-color: grey;
            padding: 10px;
        }

        a:hover>.ico {
            background-color: #666;
        }

   
